.header{
    background-color:var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0 , 0 , 0.3);
}

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 100px;
    position: relative;
}

/* ========heading-logo========== */
.header-logo {
    display: flex;
    align-items: center;
}

.header-logo_img {
    height: 90px;
}

/* ======header-nav===== */

.nav {
    display: flex;
    flex: 1;
    list-style: none;
    width: 70%;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.nav_item {
    text-align: center;
    margin: 0 25px;
}

.nav_item-link {
    color: aliceblue;
    font-size: 1.4rem;
    width: 100%;
}

.nav_item:hover {
    opacity: 0.7;
}

.nav_item:last-child {
    position: relative;
    height: 100%;
    line-height: 100px;
}

.sub_nav {
    position: absolute;
    width: 200%;
    transform: translateX(-20px);
    background-color: rgb(12, 1, 1);
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-radius: 3px;
    z-index: 1;
    margin-left: -15px;
    box-shadow: 0 0 4px #333;
}

.sub_nav-item {
    width:100%;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
    color: var(--text-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sub_nav-item:hover {
    opacity: 0.8;
}

.sub_nav-item i {
    margin-right: 5px;
}

.sub_nav-item:last-child {
    border: none;
}

.nav_item-link i {
    margin: 0 5px;
}

.nav_item:last-child:hover .sub_nav {
    display: flex;
    animation: fadeIn ease-in-out 0.5s;
}

.header_bar {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.header_bar i {
    font-size: 3rem;
    color: var(--white-color);
}

/* =====nav mobile======= */

.header_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0 , 0 , 0.3);
    animation: fadeIn ease-in .2s;
    -webkit-animation: fadeIn ease-in .2s;
}

.nav_mobile {
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    background-color: #8b0606;
    box-shadow: 0 0 5px #333;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
}

.nav_item-mobile {
    margin: 40px 0;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--border-color);
}

.nav_item-mobile:hover {
    opacity: 0.5;
}

.nav_item-mobile:last-child {
    border: none;
    position: relative;
}

.nav_item-mobile:last-child:hover .sub_nav-mobile {
    display: block;
}


.nav_item-mobile-link {
    color: var(--text-color);
    font-size: 1.4rem;
    width: 100%;
    display: block;
}

.sub_nav-mobile {
    display: none;
    width: 100%;
    position: absolute;
    top: 40px;
    list-style: none;
}

.sub_nav-mobile-item {
    padding: 15px 0;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.nav_mobile-icon {
    cursor: pointer;
}

.nav_mobile-icon i{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5rem;
    padding: 10px;
    color: var(--white-color);
}

.nav-input{
    display: none;
}
.nav-input:checked ~ .header_overlay {
    display: block;
}

.nav-input:checked ~ .nav_mobile {
    transform: translateX(0%);
    opacity: 1;
}

/* ======header-nav===== */

/* =======container======== */

.container {
    background-color: var(--main-color);
    margin-top: 100px;
    width: 100%;
    padding-bottom: 80px;
}

/* heading container */
.heading-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.heading-news,
.heading-title {
    font-size: 1.2rem;
    color: var(--text-color);
}

.heading-title {
    padding: 10px;
    background-color: #b71515;
    border-radius: 20px;
}

.heading-news {
    
    cursor: pointer;
}

.heading-news:hover i {
    transform: translateX(3px);
}

.heading-news:hover {
    opacity: 0.8;
}

/* product container */

.product-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product_item {
    padding-top: 15px;
    width: 100%;
    border-radius: 2px;
    display: block;
}

.product_item:hover {
    background-color: #b71515;
    transform: translateY(-2px);
    
}

.product_item-container {
    border-bottom: 1px solid var(--border-color);
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.product_img {
    width: 100%;
    margin-bottom: 40px;
}

.product_time {
    color: var(--text-color);
    opacity: 0.8;
    font-size: 1rem;
}

.product_des {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 1.5rem;
}

/* =====banner===== */

.banner {
    background-color: #e6dddd;
    width: 100%;
    padding: 60px 0;
}

.banner-group {
   display: flex;
    flex: 1;
   justify-content: space-between;
   align-items: center;
}

.banner-item {
    width: 79%;    
}

.banner-img {
    max-width: 100%;
}

.banner-item-small{
    width: 20%;
}

.banner-item_sml-img {
    max-width: 100%;
}

/* =====profile====== */

.profile{
    padding-top: 40px;
    background-color: var(--main-color);
}

.heading_profile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* =====Player-profile======= */

.player_profile {
    margin: 40px 0;
    width: 100%;
    display: flex;
    
    justify-content: center;
}

.player_infor {
    max-width: 80%;
    margin-top: 10px;
}


.player-infor_container {
    background-color: #b71515;
    padding: 10px;
    border-radius: 5px;
}

/* ====heading profile====== */
.player_infor-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.player_infor-item {
    display: flex;
    flex-direction: column;
    
}

.player_infor-item-num {
    color: var(--text-color);
    font-size: 4rem;
    font-weight: 400;
    margin: 3px 0;
}

.player_infor-item-name {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 400;
    margin: 5px 0;
}

.player_infor-item-position {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 5px 0;
}

.player_infor-img-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

/* ======star profile====== */

.player_infor-star {
    margin-top: 80px;
}

.player_infor-star-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: var(--border-color);
    padding: 0 20px 12px 0;
}


.player_infor-star-title {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 300;
}

.player_infor-star-num {
    font-size: 1.6rem;
    color: var(--text-color);
}

/* =========BTN Profile======== */

.player_infor-btn {
    margin: 20px 0;
}

.player_infor-btn-link {
    width: 100%;
    cursor: pointer;
    padding: 20px;
    color: var(--text-color);
    background-color: var(--black-color);
    border: none;
    text-align: left;
    font-size: 1.3rem;
}

.player_infor-btn-link:hover {
    background-color: #0c0c0cb3;
}

.player_infor-btn-link:hover i {
    transform: translateX(3px);
}

/* =======memory container======= */
.memory {
    width: 100%;
    padding: 50px 0;
}

.memory_item.show {
    animation: slideX linear 0.9s;
}

.memory_item-img {
    width: 100%;
}

/* ======sponsor========= */

.sponsor {
    background-color: var(--main-color);
    width: 100%;
}

.sponsor-container {
    padding: 85px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsor-logo {
    margin: 25px 0;
}

.sponsor-logo_item {
  display: block;
}

.sponsor-logo_item-img {
  width: 100%;
  height: 50px;
}

/* =======footer=========== */

.footer {
    background-color: #911712;
    width: 100%;
}

/* =====footer contact======= */

.footer-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    padding: 30px 0;
    border-bottom: 1px solid var(--border-color);
}

.footer-contact_title {
    list-style: none;
    max-width: 80%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.footer-contact_item {
    max-width: 100%;
    margin: 0 10px;
    display: block;
    text-align: center;
}

.footer-contact_item-link {
    font-size: 1rem;
    width: 100%;
    line-height: 2;
    color: var(--text-color);
}

.footer-contact_item-link:hover {
    opacity: 0.8;
}

.footer-contact_icon {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

.footer_contact_icon-item {
    display: block;
    margin: 0 6px;
}

.footer_contact_icon-item i {
    font-size: 2.8rem;
    color: var(--text-color);
}

.footer_contact_icon-item i:hover {
    opacity: 0.8;
    transform: translateY(-1px);
}

.footer-copyright {
    text-align: center;
    padding: 20px 0;
    color: #ffffffbf;
    font-size: 1.1rem;
    line-height: 1.5;
}

/* ============Modal========= */
@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideX {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0 , 0 , 0.5);
    box-shadow: 0 0 10px #000;
    display: none;
    align-items: center;
    animation: fadeIn linear 0.5s;
}

.modal_container {
    width: 80vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    animation: slide linear 0.2s;
}

.modal-header {
    background-color: #f5f5f5;
    width: 100%;
    height: 30vh;
    text-align: center;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
}
.modal-close:hover {
    font-size: 3.5rem;
}

.modal_heading {
    color: #DC0714;
    font-size: 3.9rem;
    font-weight: 400;
    margin-bottom: 0;
}

.modal_join {
    display: block;
    line-height: 1.9rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4a4a49;
    margin-top: 20px;
}

.modal_join a {
    display: inline-block;
    text-decoration: underline;
    color: #DC0b18;
    font-weight: 700;
    font-style: italic;
}

.modal-body {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-top: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.form-control {
    position: relative;
    width: 100%;
    height: 30px;
    outline:#911712;
    border:1px solid #C9ced0;
    border-radius: 7px;
    padding: 15px 10px;
    font-size: 1.3rem;
}

.form-message{
    color:  rgb(255, 62, 62);
    margin-top: 4px;
    font-size: 1.1rem;
}

.form-label {
    color: #747473;
    font-size: 1.1rem;
}

.forgot_pass {
    font-style: italic;
    text-decoration: underline;
    color: #DC0b18;
    font-weight: 800;
    font-size: 1.1rem;
    margin: 20px 0;
    cursor: pointer;
}

.form-submit {
    width: 25%;
    border: none;
    padding: 15px;
    background-color: #e0e0e0;
    color: #9b9999;
    font-style: italic;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
}

.modal_join-footer {
    text-align: center;
    margin-top: 40px;
    color: #4a4a49;
    display: block;
    font-weight: 400;
    font-size: 1.1rem;
}
.modal_join-footer a {
    text-decoration: underline;
    color: #DC0b18;
    font-weight: 700;
    font-style: italic;
}